name: ci

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  CTEST_NO_TESTS_ACTION: error
  CTEST_PARALLEL_LEVEL: 0
  CMAKE_INSTALL_PREFIX: ~/libs
  CMAKE_PREFIX_PATH: ~/libs

on:
  push:
    paths:
      - "**.c"
      - "**.cpp"
      - "**.f90"
      - "**.F90"
      - "**/CMakeLists.txt"
      - "**.cmake"
      - ".github/workflows/ci.yml"
      - "!memcheck.cmake"
      - "!coverage.cmake"
  workflow_dispatch:

# avoid wasted runs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:

  gcc-new:
    timeout-minutes: 15

    strategy:
      matrix:
        os: [ubuntu-24.04]
        gcc: [12, 13, 14]
        mpi: [openmpi]
        include:
        - os: macos-latest
          mpi: openmpi
          gcc: 13
        - os: ubuntu-24.04
          mpi: mpich
          gcc: 13
        - os: ubuntu-24.04
          mpi: openmpi
          gcc: 13
          shared: true

    runs-on: ${{ matrix.os }}
    env:
      CC: gcc-${{ matrix.gcc }}
      CXX: g++-${{ matrix.gcc }}
      FC: gfortran-${{ matrix.gcc }}

    steps:

    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Python pkgs
      run: pip install numpy h5py

    - name: install HDF5-${{ matrix.mpi }} (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt update
        sudo apt install --no-install-recommends libhdf5-${{ matrix.mpi }}-dev hdf5-tools lib${{ matrix.mpi }}-dev

    - name: Install HDF5-${{ matrix.mpi }} (MacOS)
      if: runner.os == 'macOS'
      run: brew install hdf5-mpi ${{ matrix.mpi }}

    - uses: actions/checkout@v6

    - name: Configure
      run: >-
        cmake --preset default
        -DBUILD_SHARED_LIBS:BOOL=${{ matrix.shared }}

    - name: Build Debug
      run: cmake --build --preset default
    - name: Test Debug
      run: ctest --preset default

    - name: install package
      run: cmake --install build

    - name: example config
      run: cmake --preset default
      working-directory: example

    - name: example build
      run: cmake --build --preset default
      working-directory: example

    - name: example test
      run: ctest --preset default
      working-directory: example

  linux-coverage:
    # GCOVR doesn't work with .inc files right now
    if: false
    needs: gcc-new
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: install hdf5
      run: |
        sudo apt update
        sudo apt install --no-install-recommends libhdf5-mpi-dev mpi-default-dev mpi-default-bin

    - name: install Gcovr
      run: pip install gcovr

    - run: cmake --preset coverage
    - run: cmake --build --preset coverage

    - name: Code coverage
      run: cmake --build --preset run-coverage

    - uses: actions/upload-artifact@v4
      with:
        name: coverage-report-html
        path: build-coverage/coverage/
